.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: flex-end;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.filters button:hover {
    opacity: 90%;
}

.locations h3, .amenities h3{
    font-weight: 600;
    margin-bottom: 5px;
}

.locations h4, .amenities h4{
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
}

.locations {
    height: 100%;
    width: 30%;
    border-right: 1px solid #DDDDDD;
    padding-left: 50px;
}

.amenities {
    height: 100%;
    width: 37%;
    padding-left: 50px;
}

.blank {
    width: 80%;
    height: 403px;
}
